In [1]:
import os

from dotenv import load_dotenv
load_dotenv()  # Loads all key-value pairs from your `.env` file

True

In [3]:
import pandas as pd

data = {
    'company': ['https://www.enbridge.com/', 'https://www.canadiantire.ca/en.html', 'https://www.homedepot.ca/en/home.html', 'https://atsautomation.com/', 'https://www.gd.com/'],
    'number_of_employees': ['', '', '', '', '106500'],
    'NAICS_code': ['', '', '', '', ''],
    'HQ': ['', '', '', '', ''],
    'founded': ['', '', '', '', '1952'],
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
df.head()

,company,number_of_employees,NAICS_code,HQ,founded
0,https://www.enbridge.com/,,,,
1,https://www.canadiantire.ca/en.html,,,,
2,https://www.homedepot.ca/en/home.html,,,,
3,https://atsautomation.com/,,,,
4,https://www.gd.com/,106500,,,1952

In [5]:
import requests
import os

def get_research_data(company_name, missing_data):
    headers = {'x-api-key': os.environ['YDC_API_KEY']}
    endpoint = "https://chat-api.you.com/research"

    params = {"query": f"""
              I'm trying to enrcih data correponding to {company_name}. I have a few questions, and 
              the answer to them is a single word answer. Get me more information on {missing_data}. Return a JSON response.
              """
        }
    response = requests.get(endpoint, params=params, headers=headers)
    return response.json()

results = get_research_data("https://www.enbridge.com/", ["location", "NAICS_code"])


results["answer"]

'```json\n{\n  "location": "Calgary, Alberta, Canada",\n  "NAICS_code": "486210"\n}\n```'

In [6]:
empty_fields = df.apply(lambda row: [row['company']] + [col for col in df.columns if row[col] == ''], axis=1)

for fields in empty_fields:
    result = get_research_data(fields[0], fields[1:])
    print(result)

{'answer': '```json\n{\n  "number_of_employees": "11,000",\n  "NAICS_code": "486210",\n  "HQ": "Calgary, Alberta, Canada",\n  "founded": "1949"\n}\n```', 'search_results': []}
{'answer': '```json\n{\n  "number_of_employees": "500+ Locations",\n  "NAICS_code": "N/A",\n  "HQ": "Canadian Tire Corporation, Limited",\n  "founded": "2024"\n}\n```', 'search_results': []}
{'answer': '```json\n{\n  "number_of_employees": "unknown",\n  "NAICS_code": "unknown",\n  "HQ": "unknown",\n  "founded": "unknown"\n}\n```', 'search_results': []}
{'answer': '```json\n{\n  "number_of_employees": "4200",\n  "NAICS_code": "333249",\n  "HQ": "Cambridge, Ontario, Canada",\n  "founded": "1978"\n}\n```', 'search_results': []}
{'answer': '```json\n{\n  "NAICS_code": "336411",\n  "HQ": "Reston, Virginia"\n}\n```', 'search_results': []}

In [7]:
#display the enriched df
df

,company,number_of_employees,NAICS_code,HQ,founded
0,https://www.enbridge.com/,,,,
1,https://www.canadiantire.ca/en.html,,,,
2,https://www.homedepot.ca/en/home.html,,,,
3,https://atsautomation.com/,,,,
4,https://www.gd.com/,106500,,,1952