## Missing Tabular Data Enrichment With YOU Research API 

In this tutorial, we will enrich the missing values in a tabular dataset primarily using `You.com` research API.

### Install required packages

In [1]:
%%capture
! pip install pandas
! pip install openai
! pip install openai
! pip install python-dotenv
! pip install requests

### Loading API keys

Set the environment variables `YDC_API_KEY` and `OPENAI_API_KEY` in a .env file which we will load using `dotenv`.

In [2]:
import dotenv
dotenv.load_dotenv(".env", override=True)

True

### Creating a synthetic dataset for enrichment

We will create a dataframe with a few company domains and columns such as number of employees, NAICS code, headquarter and year founded with missing values. Our aim is to fill these missing values using `You.com` research API.

In [3]:
import pandas as pd

data = {
    'company': ["Apple", 'Canadian Tire', 'Home Depot', 'LinkedIn Corporation', 'General Dynamics'],
    'number of employees': ['', '', '', '', ''],
    'NAICS code(s)': ['', '', '', '', ''],
    'headquarter location': ['', '', '', '', ''],
    'founded year': ['', '', '', '', ''],
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
df.head()

,company,number of employees,NAICS code(s),headquarter location,founded year
0,Apple,,,,
1,Canadian Tire,,,,
2,Home Depot,,,,
3,LinkedIn Corporation,,,,
4,General Dynamics,,,,

### Searching and getting results with `You.com` API

We will obtain the missing values with a simple call to `You.com` API

In [4]:
# TODO - Switch out to use langchain/dspy implementation instead of reuests once available

import requests
import os

# obtain the API key from the environment
headers = {'x-api-key': os.environ['YDC_API_KEY']}

def get_research_data(company_name, missing_cols, mode="research"):
    """
    Run the query with the given company domain and missing columns to obtain the missing data
    in the form of a JSON object.
    """
    endpoint = f"https://chat-api.you.com/{mode}"
    params = {"query": f"""
              I am trying to find some missing information corresponding to {company_name}.
              For these companies, get me more information on each of the following {missing_cols}.
              """
        }
    response = requests.get(endpoint, params=params, headers=headers)
    return response.json()["answer"]

In [5]:
# Let's look at the results returned by the API for one of the companies
you_response = get_research_data("General Dynamics",
                           ['number_of_employees', 'NAICS_code(s)', 'headquarter_location', 'founded_year'])
print(you_response)

# General Dynamics: Comprehensive Company Overview

## Number of Employees
As of December 31, 2023, General Dynamics had 111,600 employees, marking an increase of 5,100 employees or 4.79% compared to the previous year [[1]](https://stockanalysis.com/stocks/gd/employees/#:~:text=General%20Dynamics%20had%20111%2C600%20employees%20on%20December%2031%2C%202023.%20The%20number%20of%20employees%20increased%20by%205%2C100%20or%204.79%25%20compared%20to%20the%20previous%20year). This number is consistent across multiple sources, confirming the company's substantial workforce [[2]](https://www.forbes.com/companies/general-dynamics/#:~:text=Employees%20111%2C600)[[3]](https://www.globaldata.com/company-profile/general-dynamics-corp/#:~:text=No%20of%20Employees%20111%2C600). In January 2021, the company reported having more than 100,000 full-time employees, with about 84,000 based in the United States and 16,000 in over 70 countries worldwide [[4]](https://www.gd.com/about-gd/faqs#:~:text=As%20of%20January%202021%2C%20General%20Dynamics%20had%20more%20than%20100%2C000%20full%2Dtime%20employees.%20About%2084%2C000%20of%20these%20are%20based%20in%20the%20United%20States%2C%20and%2016%2C000%20are%20based%20in%20more%20than%2070%20countries%20outside%20the%20United%20States).

## NAICS Code(s)
General Dynamics operates under multiple NAICS codes. The primary NAICS code is 336414, which pertains to Guided Missile and Space Vehicle Manufacturing [[5]](https://leadiq.com/c/general-dynamics/5a1d95922300005a008441e4#:~:text=NAICS%20code%20is%20336414%20%2D%20Guided%20Missile%20and%20Space%20Vehicle%20Manufacturing). Another relevant NAICS code is 336411, which is associated with Aircraft Manufacturing [[6]](https://siccode.com/business/general-dynamics-28#:~:text=NAICS%20CODE%20336411%20%2D%20Aircraft%20Manufacturing).

## Headquarter Location
The headquarters of General Dynamics is located at 11011 Sunset Hills Road, Reston, Virginia, 20190, United States [[7]](https://www.forbes.com/companies/general-dynamics/#:~:text=Headquarters%20Reston%2C%20Virginia)[[8]](https://www.gd.com/about-gd/faqs#:~:text=Our%20corporate%20headquarters%20is%20in%20Reston%2C%20Virginia)[[9]](https://leadiq.com/c/general-dynamics/5a1d95922300005a008441e4#:~:text=Sign%20up%20for%20free%20to%20view%20info%20Email%20Format%20Employee%20directory%20Company%20Overview%20Headquarters%2011011%20Sunset%20Hills%20Rd%20Reston%2C%20Virginia%2020190%20US%20Website%20generaldynamics)[[10]](https://www.globaldata.com/company-profile/general-dynamics-corp/#:~:text=Headquarters%20United%20States%20of%20America%20Address%2011011%20Sunset%20Hills%20Road%2C%20Reston%2C%20Virginia%2C%2020190).

![General Dynamics Headquarters](https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/General_Dynamics_Headquarters.jpg/500px-General_Dynamics_Headquarters.jpg)

## Founded Year
General Dynamics was founded in 1952 [[11]](https://www.forbes.com/companies/general-dynamics/#:~:text=Founded%201952)[[12]](https://www.gd.com/about-gd/faqs#:~:text=General%20Dynamics%20was%20incorporated%20in%201952%2C%20but%20traces%20its%20legacy%20back%20to%201899%20with%20the%20founding%20of%20the%20Electric%20Boat%20Company%20in%20Groton%2C%20Connecticut)[[13]](https://leadiq.com/c/general-dynamics/5a1d95922300005a008441e4#:~:text=founded%20in%201952). The company traces its legacy back to 1899 with the founding of the Electric Boat Company in Groton, Connecticut [[12]](https://www.gd.com/about-gd/faqs#:~:text=General%20Dynamics%20was%20incorporated%20in%201952%2C%20but%20traces%20its%20legacy%20back%20to%201899%20with%20the%20founding%20of%20the%20Electric%20Boat%20Company%20in%20Groton%2C%20Connecticut).

## Conclusion
General Dynamics is a major player in the aerospace and defense industry, with a significant global workforce and a rich history dating back to the late 19th century. The company is headquartered in Reston, Virginia, and operates under several NAICS codes related to aerospace and defense manufacturing.

### References
- General Dynamics had 111,600 employees on December 31, 2023 [[1]](https://stockanalysis.com/stocks/gd/employees/#:~:text=General%20Dynamics%20had%20111%2C600%20employees%20on%20December%2031%2C%202023.%20The%20number%20of%20employees%20increased%20by%205%2C100%20or%204.79%25%20compared%20to%20the%20previous%20year).
- Employees 111,600 [[2]](https://www.forbes.com/companies/general-dynamics/#:~:text=Employees%20111%2C600).
- No of Employees 111,600 [[3]](https://www.globaldata.com/company-profile/general-dynamics-corp/#:~:text=No%20of%20Employees%20111%2C600).
- As of January 2021, General Dynamics had more than 100,000 full-time employees [[4]](https://www.gd.com/about-gd/faqs#:~:text=As%20of%20January%202021%2C%20General%20Dynamics%20had%20more%20than%20100%2C000%20full%2Dtime%20employees.%20About%2084%2C000%20of%20these%20are%20based%20in%20the%20United%20States%2C%20and%2016%2C000%20are%20based%20in%20more%20than%2070%20countries%20outside%20the%20United%20States).
- General Dynamics had more than 100,000 full-time employees [[14]](https://www.gd.com/about-gd/faqs#:~:text=General%20Dynamics%20had%20more%20than%20100%2C000%20full%2Dtime%20employees).
- NAICS code is 336414 - Guided Missile and Space Vehicle Manufacturing [[5]](https://leadiq.com/c/general-dynamics/5a1d95922300005a008441e4#:~:text=NAICS%20code%20is%20336414%20%2D%20Guided%20Missile%20and%20Space%20Vehicle%20Manufacturing).
- NAICS CODE 336411 - Aircraft Manufacturing [[6]](https://siccode.com/business/general-dynamics-28#:~:text=NAICS%20CODE%20336411%20%2D%20Aircraft%20Manufacturing).
- Headquarters Reston, Virginia [[7]](https://www.forbes.com/companies/general-dynamics/#:~:text=Headquarters%20Reston%2C%20Virginia).
- Our corporate headquarters is in Reston, Virginia [[8]](https://www.gd.com/about-gd/faqs#:~:text=Our%20corporate%20headquarters%20is%20in%20Reston%2C%20Virginia).
- headquarters 11011 Sunset Hills Rd Reston, Virginia 20190 US [[9]](https://leadiq.com/c/general-dynamics/5a1d95922300005a008441e4#:~:text=Sign%20up%20for%20free%20to%20view%20info%20Email%20Format%20Employee%20directory%20Company%20Overview%20Headquarters%2011011%20Sunset%20Hills%20Rd%20Reston%2C%20Virginia%2020190%20US%20Website%20generaldynamics).
- Headquarters United States of America Address 11011 Sunset Hills Road, Reston, Virginia, 20190 [[10]](https://www.globaldata.com/company-profile/general-dynamics-corp/#:~:text=Headquarters%20United%20States%20of%20America%20Address%2011011%20Sunset%20Hills%20Road%2C%20Reston%2C%20Virginia%2C%2020190).
- Founded 1952 [[11]](https://www.forbes.com/companies/general-dynamics/#:~:text=Founded%201952).
- General Dynamics was incorporated in 1952, but traces its legacy back to 1899 with the founding of the Electric Boat Company in Groton, Connecticut [[12]](https://www.gd.com/about-gd/faqs#:~:text=General%20Dynamics%20was%20incorporated%20in%201952%2C%20but%20traces%20its%20legacy%20back%20to%201899%20with%20the%20founding%20of%20the%20Electric%20Boat%20Company%20in%20Groton%2C%20Connecticut).
- founded in 1952 [[13]](https://leadiq.com/c/general-dynamics/5a1d95922300005a008441e4#:~:text=founded%20in%201952)

### Value extraction with GPT function calling

The response from You.com API is in long text format along with the relevant links. As we want to fill our table with the exact information, we will be using chatGPT funtion calling to extract the information for each of the missing fields.

In [6]:
from openai import OpenAI
import json

client = OpenAI()

In [7]:
# Let's create a function to extract the missing data from the You.com response using chatGPT function calling
def get_missing_data(you_com_response):
    """
    Given the response from the You.com API, extract the missing data fields using function calling with chatGPT
    and return the extracted data as a json object. 
    """
    prompt = f"Given the {you_com_response}, extract number of employees, NAICS code, headquarter location, and founded year."

    # function description to specify the format of the extracted data
    function = [
        {
            "name": "get_company_data",
            "description": "Extract the relevant data corresponding to each field",
            "parameters": {
                "type": "object",
                "properties": {
                    "number of employees": {
                        "type": "string",
                        "description": "The number of employees working in the company",
                    },
                    "NAICS code(s)": {
                        "type": "string",
                        "description": "The NAICS code of the company",
                    },
                    "headquarter location": {
                        "type": "string",
                        "description": "The headquarter location of the company",
                    },
                    "founded year": {
                        "type": "string",
                        "description": "The year in which the company was founded",
                    },
                },
                "required": ["number of employees", "NAICS code", "headquarter location", "founded year"],
            },
        }
    ]

    # call the chatGPT model with the function calling
    completion = client.chat.completions.create(
        model="gpt-3.5-turbo",
        messages=[
            {"role": "user", "content": prompt}
        ],
        functions=function,
        function_call="auto"
    )

    # get the message from the completion which contains the extracted data
    output = completion.choices[0].message
    # parse the output to extract the json object
    json_output = json.loads(output.function_call.arguments)
    
    return json_output

In [8]:
# Let's look at the extracted missing data for the company from earlier
get_missing_data(you_response)

{'number of employees': '111600',
 'NAICS code(s)': '336414, 336411',
 'headquarter location': 'Reston, Virginia, 20190, United States',
 'founded year': '1952'}

### Fill the missing data

Finally, let's run our functions to first search and get the infromation using `You.com` research API then extract the values of the missing columns in `json` format with GPT function calling.

In [9]:
# call the API to get the missing data and update the DataFrame
for index, row in df.iterrows():
    missing_cols = [col for col in df.columns if row[col] == '']

    if missing_cols:
        # get the missing data from the You.com API
        you_response = get_research_data(row['company'], missing_cols)

        # extract the missing data using chatGPT function calling
        json_response = get_missing_data(you_response)

        # fill the data into original DataFrame
        for col in missing_cols:
            df.at[index, col] = json_response.get(col, '')

In [10]:
# Finally, let's display the updated DataFrame with the missing data filled in
df.head()

,company,number of employees,NAICS code(s),headquarter location,founded year
0,Apple,"161,000","334111, 511210, 42, 42343, 33, 423, 334, 4234","Cupertino, California 95014, United States",1976
1,Canadian Tire,"26,420","NAICS Code 44, NAICS Code 45","2180 Yonge St, Toronto, Ontario, M4S 2B9, Canada",1922
2,Home Depot,463100,"444130, 444110","2455 Paces Ferry Road, Atlanta, Georgia 30339,...",1978
3,LinkedIn Corporation,"19,400",541511,"Sunnyvale, California",2003
4,General Dynamics,111600,"336414,336411","11011 Sunset Hills Road, Reston, Virginia, 201...",1952